<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>http-proxy.zx.basf-ag.de</host>
			<port>8080</port>			
			<nonProxyHosts>www.google.com|*.somewhere.com</nonProxyHosts>
		</proxy>
	</proxies>
	<servers>
		<server>
			<id>basf-releases</id>
			<username>bhattas7</username>
			<password>AP61BFbDheDdV2JDY3ELGHy7o1s</password>
		</server>
		<server>
			<id>basf-snapshots</id>
			<username>bhattas7</username>
			<password>AP61BFbDheDdV2JDY3ELGHy7o1s</password>
		</server>
		<server>
			<id>third-party-weball</id>
			<username>bhattas7</username>
			<password>AP61BFbDheDdV2JDY3ELGHy7o1s</password>
		</server>
		<server>
			<id>third-party-external</id>
			<username>bhattas7</username>
			<password>AP61BFbDheDdV2JDY3ELGHy7o1s</password>
		</server>		
	</servers>
	<mirrors>
		<mirror>
			<id>public-repos</id>
			<mirrorOf>*,!basf-releases,!basf-snapshots</mirrorOf>
			<name>public-repos</name>
			<url>https://artifactory.bcs.de/artifactory/public-repos</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>basf-releases</id>
					<name>basf-releases</name>
					<url>https://artifactory.bcs.de/artifactory/basf-releases</url>
					<releases>
						<updatePolicy>interval:30</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
				</repository>
				<repository>
					<snapshots />
					<id>basf-snapshots</id>
					<name>basf-snapshots</name>
					<url>https://artifactory.bcs.de/artifactory/basf-snapshots</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>third-party-external</id>
					<name>third-party-external</name>
					<url>https://artifactory.bcs.de/artifactory/third-party-external</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>third-party-weball</id>
					<name>third-party-weball</name>
					<url>https://artifactory.bcs.de/artifactory/third-party-weball</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>basf-releases</id>
					<name>basf-releases</name>
					<url>https://artifactory.bcs.de/artifactory/basf-releases</url>
					<releases>
						<updatePolicy>interval:30</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<snapshots />
					<id>basf-snapshots</id>
					<name>basf-snapshots</name>
					<url>https://artifactory.bcs.de/artifactory/basf-snapshots</url>
				</pluginRepository>
			</pluginRepositories>
			<id>artifactory</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>		
	</activeProfiles>
</settings>
